/* nav {
  height: 5rem;
  background-color: rgb(176, 134, 41);
  background: #ccc;
} */

h1 {
  text-align: center;
}

.arriba {
  position: fixed;
  bottom: 90px;
  right: 20px;
  background-color: rgb(169, 118, 9);
  color: #fafafa;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 2rem;
}

button {
  background-color: rgb(169, 118, 9);
  padding: 10px;
  border: 1px solid rgb(169, 118, 9);
  border-radius: 30px;
  color: #fafafa;
  margin-bottom: 30px;
  margin-bottom: 3rem;
}

button:hover {
  background-color: #c17426;
  /* border: 1px solid #000428; */
  cursor: pointer;
  transition: 0.3s ease;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.imagen {
  background: #004e92;
  margin: 2rem 0;
}

.imagen img {
  display: block;
  width: 100%;
  mix-blend-mode: hard-light;
}

.carousel-item {
  max-height: 500px;
  margin-bottom: 30px;
}

.navbar-brand:hover {
  font-size: 2rem;

  border-radius: 15rem;
  transition: all 0.3s ease;
}
.nav-item:hover {
  font-size: 1.2rem;
  color: #fafafa;
  background-color: #956918;
  border-radius: 1rem;
  transition: all 0.3s ease;
}

.footer {
  color: #fafafa;
  background-color: rgb(100, 74, 17);
  font-size: 80%;
  font-style: italic;
  padding: 1rem 1.5rem;
  padding: 40px;
  position: relative;
  margin-top: 20px;
  /* grid-column: -1 / 1; */
}
