* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-color: lightblue;
} */

.nav {
  background-color: rgb(217, 186, 113);
  padding: 10px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}

a {
  padding: 10px;
  color: black;
}

h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.banner {
  width: 82.5em;
  height: auto;
}

.banner img {
  width: 100%;
}

.contenedor {
  padding: 2em;
  display: flex;
  justify-content: center;
  height: 30vh;
  flex-wrap: wrap;
  margin: 5px;
}

.productos {
  max-width: 20em;
  margin: 1em;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 0.95);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.producto__imagen {
  max-height: 20em;
  overflow: hidden;
  background: linear-gradient(38deg, #000428, #004e92);
  border-radius: 10px 10px 0 0;
}

.producto {
  max-width: 20em;
  margin: 1em;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 0.95);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.producto:hover {
  transform: translateY(-50px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
}

.sobre_nosotros {
  padding: 5em;
  margin-top: 20em;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: #4f1d1d;
}

.contacto {
  padding: 7em;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: #c68484;
}

li {
  list-style: none;
}

.grupo-formulario {
  max-width: 600px;
  margin: 0 auto;
  padding: 0.67em;
}
label,
input,
textarea {
  width: 20em;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.submit {
  background-color: #429f45;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  cursor: pointer;
}

footer {
  background-color: #111111;
  color: #c0c2c3;
  font-size: 80%;
  font-style: italic;
  padding: 0.5em 2em;
  padding: 10em;
}
