* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 55px;
  color: white;
  text-align: center;
  width: 385px;
  height: 80px;
  margin-bottom: 20px;
  float: left;
  text-transform: uppercase;
}

.nav {
  font-family: "Times New Roman", Times, serif;
  background: #333;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.nav ul {
  line-height: 36px;
  list-style: none;
}
.nav li {
  height: 100px;
  display: inline-block;
  transition: all 300ms;
}

.nav a {
  margin: 30px;
  display: block;
  color: white;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}

.nav a:hover {
  background: #c65b5b;
  transition: all 300ms;
  border-radius: 10px;
  letter-spacing: 3px;
  padding: 5px;
}

li {
  list-style: none;
}

/*  */
h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.banner {
  margin: 0px;
  width: 82.5em;
  height: auto;
}

.banner img {
  width: 100%;
}

.contenedor {
  padding: 2em;
  display: flex;
  justify-content: center;
  height: 30vh;
  flex-wrap: wrap;
  margin: 5px;
  margin-bottom: 20em;
}

.productos {
  /* max-width: 20em; */
  margin: 1.5em;
  /* border-radius: 10px; */
  /* background-color: rgba(250, 250, 250, 0.95); */
  /* box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.producto__imagen {
  max-height: 20em;
  overflow: hidden;
  background: linear-gradient(38deg, #000428, #004e92);
  border-radius: 10px 10px 0 0;
}

.producto {
  max-width: 20em;
  margin: 1em;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 0.95);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  padding: 1.5em;
}

.producto:hover {
  transform: translateY(-50px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
}

.sobre_nosotros {
  /* max-width: 20em; */
  margin-top: 2em;
  margin: 2em;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 0.95);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 5em;
}

.contacto {
  padding: 7em;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin: 2em;
  border-radius: 10px;
  background-color: rgba(250, 250, 250, 0.95);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 5em;
}

.grupo-formulario {
  max-width: 600px;
  margin: 0 auto;
  padding: 0.67em;
}

label,
input,
textarea {
  width: 20em;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.submit {
  background-color: #429f45;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  cursor: pointer;
}

footer {
  background-color: #111111;
  color: #c0c2c3;
  font-size: 80%;
  font-style: italic;
  padding: 0.5em 2em;
  padding: 10em;
}
